<!DOCTYPE html>
<html>
    <head>
        <title>虚拟DOM测试</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="avalon.js"></script>
        <script>
       
            var vm = avalon.define({
                $id: "test",
                aaa: 222,
                bbb: 111,
                ccc: 444,
                toggle: false,
                tmpl: "aa.html",
                color:"red",
                ddd: {
                    a: 1
                },
                array: [1,2,3,4]
            })
         setTimeout(function(){
          //   console.log("******************")
             vm.ddd = {
                 a: 3
             }
         }, 3000)
        </script>
    </head>
    <body ms-controller="test">
     {{ddd.a}}
    </body>
</html>
