<!DOCTYPE html>
<html>
    <head>
        <title>虚拟DOM测试</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="avalon.js"></script>
        <script>

            var vm = avalon.define({
                $id: "test",
                array: ["a", "b", "c", "d"],
                refresh: function () {
                    vm.array = ["1", "2", "c", "d", "22"]
                },
                reverse: function () {
                    vm.array.reverse()
                }
            })
            setTimeout(function () {
                console.log("================")
                vm.array.push(1, 2)
                vm.array.shift()
//                vm.array.set(0, "7")
//                vm.array.set(1, "11")
//                vm.array.set(2, "111")
//                vm.array.set(3, "222")
//
//                vm.array.reverse()
//                vm.array.push(5, 6)
//                vm.array.splice(0, 3)
            }, 3000)
        </script>
    </head>
    <body ms-controller="test">
        <h1>测试虚拟DOM</h1>

        <ul>
            <li ms-repeat="array">{{el}}*{{$index}}</li> 
        </ul>
        <div><button type="button" ms-click="refresh">refresh</button></div>
        <div><button type="button" ms-click="reverse">reverse</button></div>
    </body>
</html>
