<!DOCTYPE html>
<html>
    <head>
        <title>虚拟DOM测试</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="avalon.js"></script>
        <script>
            var vm = avalon.define({
                $id: "test",
                a: 111,
                b: 222,
                c: 777,
                change1: function () {
                    vm.a = 10
                    vm.b = 22
                },
                change2: function () {
                    vm.a = 55
                    vm.b = 8
                }
            })
        </script>
    </head>
    <body ms-controller="test">
        <h1>测试虚拟DOM</h1>
        <div>{{a}}</div>
        <p><button ms-click="change1" type="button">click 1</button></p>
        <p><button ms-click="change2" type="button">click 2</button></p>
    </body>
</html>
